# Python Environment
venv/
.venv/
__pycache__/
*.pyc

# ML Models (Large binaries)
models/optimized/*.pkl
models/baseline/*.pkl
# We can keep the _meta.json files on GitHub to show the benchmarks
!models/**/*.json

# Large Data sources
data/*.csv
!data/singapore_airlines_reviews_core4.csv

# OS files
.DS_Store
